.Container {
  margin: 0 auto;
}
.Category_Link {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px 24px 20px 20px;
  min-width: 0;
  position: relative;
  transition: background 0.2s;
}
.Category_Link::after {
  content: '';
  width: calc(100% - 78px);
  height: 1px;
  background: #e5e5e5;
  position: absolute;
  left: 78px;
  bottom: 0;
}
.Category_Link:hover {
  background: #f8f8f8;
}
.Category_Link:active {
  background: none;
  transition: none;
}
.Category_Link > em {
  font-size: 4rem;
  font-style: normal;
  line-height: 1;
  min-width: 54px;
}
.Category_Text {
  width: calc(100% - 54px);
}
.Category_Text > h2 {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}
.Category_Text > p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Articles {
  padding: 24px 24px 40px 24px;
  margin: 0 auto;
}
.Articles_Heading {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 0 16px 0;
}
.Article {
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
}
.Article_Link {
  flex: 1 auto;
  padding: 16px;
  line-height: 1.5;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.2s;
  background: #fff;
}
.Article_Link:hover {
  background: #f8f8f8;
}
.Article_Link:active {
  background: none;
  transition: none;
}
.Article_Title {
  font-size: 1.4rem;
  margin: 0 0 4px 0;
  padding: 0;
}
.Article_Description {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 600px) {
  .Container {
    padding: 60px;
  }
  .Categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 32px 0;
  }
  .Category {
    width: calc(50% - 20px);
    margin: 0 40px 32px 0;
  }
  .Category:nth-child(2n) {
    margin: 0 0 32px 0;
  }
  .Category_Link {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .Category_Link::after {
    content: none;
  }
  .Category_Link:hover {
    background: none;
  }
  .Category_Link:hover .Category_Text > h2 {
    text-decoration: underline;
  }
  .Category_Link > em {
    margin: 0 24px 12px 0;
    font-size: 4rem;
    min-width: inherit;
  }
  .Category_Text {
    width: 100%;
  }
  .Category_Text > h2 {
    font-size: 1.6rem;
    margin: 0 0 4px 0;
    line-height: inherit;
  }
  .Category_Text > p {
    font-size: 1.4rem;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
    line-height: inherit;
  }
  .Articles {
    padding: 0;
  }
}
@media (min-width: 960px) {
  .Container {
    max-width: 1024px;
  }
  .Category {
    width: calc(33.333% - 27px);
  }
  .Category:nth-child(2n) {
    margin: 0 40px 32px 0;
  }
  .Category:nth-child(3n) {
    margin: 0 0 32px 0;
  }
  .Articles_Inner {
    display: flex;
    flex-wrap: wrap;
  }
  .Article {
    width: calc(50% - 10px);
    margin: 0 16px 16px 0;
  }
  .Article:nth-child(2n) {
    margin: 0 0 16px 0;
  }
}
